<div class="container">
  <%= render 'shared/errors', obj: @article %>

  <div class="justify-content-center">
    <%= form_with(model: @article, class: "shadow p-3 mb-3 bg-info rounded",local: true) do |f| %>
      <div class="form-group">
        <%= f.label :title, class: "col-2 col-form-label text-light" %>
        <%= f.text_field :title, class: "form-control shadow-rounded", placeholder: "Title of article" %>
      </div>
      
      <div class="form-group">
        <%= f.label :description, class: "col-2 col-form-label text-light" %>
        <%= f.text_area :description, rows: 10, class: "form-control shadow-rounded", placeholder: "Description of article" %>
      </div>

      <div class="form-group row justify-content-center">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>
      </div>
    <% end %>
    <div class="mb-3">
      <%= link_to "[ Cancel and return to articles listing ]", articles_path, class: "row justify-content-center text-info" %>
    </div>
  </div>
</div>