<h2 class="text-center mt-4"><%= @article.title %></h2>

<div class="container">
  <div class="card text-center shadow mb-3 bg-white rounded">
      <div class="card-header font-italic">
         by <span class="text-success"><%= "[Admin] " if @article.user.admin? %></span><%= @article.user.username if @article.user %>
        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
      </div>
      <div class="card-body">
      <div class="card-text text-left"><%=simple_format(@article.description) %></div>
      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>  
        <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
        <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
      </div>
      <div class="card-footer text-muted">
      <small>Created ago <%= time_ago_in_words(@article.created_at) %>,
      edited ago <%= time_ago_in_words(@article.updated_at) %></small>
      </div>
    </div>
    <div class="mb-3">
      <%= link_to "[ Return to articles listing ]", articles_path, class: "row justify-content-center text-info" %>
    </div>
</div>

