<h1 class="text-center mt-4">Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <div class="text-center mt-4">
    <%= link_to "Edit category", edit_category_path(@category), class: "btn btn-outline-info" %>
  </div>
<% end %>

<h3 class="text-center mt-4">Articles</h3>

<% if @category.articles.count <= 0 %>
  <div class="text-center mt-4">No articles have been created using this category</div>
<% end %>

<div class="apple_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<div class="container">
  <%= render "articles/article" %>
  <div class="mb-3">
    <%= link_to "[ Cancel and return to categories listing ]", categories_path, class: "row justify-content-center text-info" %>
  </div>
</div>

<div class="apple_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>